* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: normal; }

a {
  text-decoration: none;
}

$color1:#763f82;
$color2:#7b5da9;

.site-page {
  background-color: white;
  min-height: 100vh;

  .site-header {
    border-bottom: 3px solid $color2;
    padding: 0.5em;
    color: $color2;
    font-size: 20px;
  }

  .site-aside {
    background-color: $color1;

    .site-aside-link {
      display: block;
      color: #cfabab;
      padding: 0.5em 1em;

      &:hover,
      &.active {
        color: white;
      }
    }
  }

  .site-content {
    padding: 1em;
  }
}
