@import './lib/common.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 { font-weight: normal; }

a {
  text-decoration: none;
}

.site-page {
  background-color: $white;
  min-height: 100vh;

  .site-header {
    border-bottom: 1px solid $grey2;
    padding: 0.5em;
    font-size: 20px;

    .logo {
      display: inline-block;
      padding: $padding;
      background-color: $black;
      color: $white;
    }
  }

  .site-aside {
    background-color: $white;

    .site-aside-link {
      display: block;
      color: $black;
      padding: 0.5em 1em;
      box-sizing: border-box;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;

      &:hover,
      &.active {
        background-color: $grey2;
      }

      &.active {
        border-left-color: $black;
      }
    }
  }

  .site-content {
    padding: 1em;
  }
}
