.daybreak-tooltip {
  display: inline-flex;

  &-item {
    position: absolute;
    padding: 0.5em 0.8em;
    border-radius: 4px;
    background: black;
    color: white;
    transform: translateX(-50%);
  }

  &-item-triangle {
    position: absolute;
    bottom: -0.8em;
    border-width: 0.5em;
    border-style: solid;
    border-color: black transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%);
  }
}
