@import '../common.scss';

.daybreak-tabs {
  display: flex;
  flex-direction: column;

  &-line {
    position: absolute;
    background-color: black;
    transition: all 0.4s;
  }

  &-tab {
    padding: 0.3em;
    cursor: pointer;

    &:hover {
      background-color: $grey2;
    }
  }

  &-list {
    background-color: $grey;
    position: relative;
    display: inline-flex;
  }

  &-panes {
    flex: 1;
  }

  &-vertical {
    flex-direction: row;
  }

  &-vertical &-list {
    flex-direction: column;
  }
}
