.daybreak-tabs {
  display: flex;
  flex-direction: column;

  &-line {
    position: absolute;
    background-color: red;
    transition: all 0.4s;
    height: 3px;
  }

  &-tab {
    border: 1px solid black;
  }

  &-list {
    position: relative;
    display: inline-flex;
    cursor: pointer;
  }

  &-panes {
    flex: 1;
    border: 1px solid black;
  }

  &-vertical {
    flex-direction: row;
  }

  &-vertical &-list {
    flex-direction: column;
  }
}
