$color1:#f4f3f3;
$color2:#dfdfdf;
$color3:#bfd8d5;
$color4:#b1bed5;

.xxx {
  background-color: $color1;
}

.yyy {
  background-color: $color2;
}

.zzz {
  background-color: $color3;
}

.xxx,
.yyy,
.zzz {
  padding: 0.5em;
}
