@import '../common.scss';

.daybreak-button {
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  padding: 0.3em 0.5em;
  transition: all 500ms;
  font-size: 1em;
  box-sizing: border-box;
  position: relative;
  border: 2px solid transparent;

  &-outlined {
    border-color: black;
  }

  &-normal {
    color: $black;
    background-color: $grey;

    &:hover,
    &:focus {
      background-color: $grey2;
    }
  }

  &-primary {
    background-color: $black;
    color: $white;

    &:hover,
    &:focus {
      background-color: $black2;
    }
  }

  &-danger {
    background-color: $red;
    color: $white;
  }

  &[disabled] {
    cursor: not-allowed;
    color: #afafaf;
    background-color: #f6f6f6;
    border-color: transparent;
  }

  &-loading-icon {
    animation: daybreak-spin 1s infinite linear;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
