@import '../common.scss';

.daybreak-button {
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  padding: 0.3em 0.5em;
  transition: all 500ms;
  font-size: 1em;
  border: none;

  &-normal {
    color: $black;
    background-color: $grey;

    &:hover,
    &:focus {
      background-color: $grey2;
    }
  }

  &-primary {
    background-color: $black;
    color: $white;

    &:hover,
    &:focus {
      background-color: $black2;
    }
  }

  &-danger {
    background-color: $red;
    color: $white;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}
