// [class^=daybreak-] {
//   box-sizing: border-box;

//   &::after,
//   &::before {
//     box-sizing: border-box;
//   }
// }

$color1:#f4f3f3;
$color2:#dfdfdf;
$color3:#bfd8d5;
$color4:#b1bed5;

$disabled-background:#f6f6f6;
$disabled-color:#afafaf;

$padding: 0.3em 0.5em;
$border-radius: 3px;
$box-shadow:rgba(0, 0, 0, 0.16) 0 4px 16px;

$grey:#eee;
$grey2:#e2e2e2;
$black:#000;
$black2:#333;
$white:#fff;
$blue:#1e54b7;
$red:#c00;

@keyframes daybreak-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
