$disabled-background:#f6f6f6 !default;
$disabled-color:#afafaf !default;

$padding: 0.3em 0.5em !default;
$border-radius: 3px !default;
$box-shadow:rgba(0, 0, 0, 0.16) 0 4px 16px !default;

$grey:#eee !default;
$grey2:#e2e2e2 !default;
$black:#000 !default;
$black2:#333 !default;
$white:#fff !default;
$blue:#1e54b7 !default;
$red:#c00 !default;

@keyframes daybreak-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
